## New York Restaurant Inspections Using SQL

In [39]:
%%sql
SELECT * FROM sqlite_master WHERE "type"='table';

 * sqlite:///nyc_inspection.db
Done.

[('table', 'writer', 'writer', 2, 'CREATE TABLE writer (first_name, last_name, year)'),
 ('table', 'webextract', 'webextract', 3, 'CREATE TABLE webextract (\n\t"index" BIGINT, \n\t"CAMIS" BIGINT, \n\t"DBA" TEXT, \n\t"BORO" BIGINT, \n\t"BUILDING" TEXT, \n\t"STREET" TEXT, \n\t"ZIPC ... (58 characters truncated) ... \t"INSPDATE" TEXT, \n\t"ACTION" TEXT, \n\t"VIOLCODE" TEXT, \n\t"SCORE" FLOAT, \n\t"CURRENTGRADE" TEXT, \n\t"GRADEDATE" TEXT, \n\t"RECORDDATE" TEXT\n)'),
 ('table', 'violations', 'violations', 24393, 'CREATE TABLE violations (\n\t"index" BIGINT, \n\t"STARTDATE" TEXT, \n\t"ENDDATE" TEXT, \n\t"CRITICALFLAG" TEXT, \n\t"VIOLATIONCODE" TEXT, \n\t"VIOLATIONDESC" TEXT\n)'),
 ('table', 'cuisine', 'cuisine', 24426, 'CREATE TABLE cuisine (\n\t"index" BIGINT, \n\t"CUISINECODE" BIGINT, \n\t"CODEDESC" TEXT\n)'),
 ('table', 'boroughs', 'boroughs', 24428, 'CREATE TABLE boroughs (\n   id   INT,\n   name  TEXT\n)')]

And to look at the format of an individual table (note that you may need to change types to get the answers in the right form):

In [40]:
%%sql
PRAGMA table_info(webextract)

 * sqlite:///nyc_inspection.db
Done.

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'CAMIS', 'BIGINT', 0, None, 0),
 (2, 'DBA', 'TEXT', 0, None, 0),
 (3, 'BORO', 'BIGINT', 0, None, 0),
 (4, 'BUILDING', 'TEXT', 0, None, 0),
 (5, 'STREET', 'TEXT', 0, None, 0),
 (6, 'ZIPCODE', 'FLOAT', 0, None, 0),
 (7, 'PHONE', 'TEXT', 0, None, 0),
 (8, 'CUISINECODE', 'BIGINT', 0, None, 0),
 (9, 'INSPDATE', 'TEXT', 0, None, 0),
 (10, 'ACTION', 'TEXT', 0, None, 0),
 (11, 'VIOLCODE', 'TEXT', 0, None, 0),
 (12, 'SCORE', 'FLOAT', 0, None, 0),
 (13, 'CURRENTGRADE', 'TEXT', 0, None, 0),
 (14, 'GRADEDATE', 'TEXT', 0, None, 0),
 (15, 'RECORDDATE', 'TEXT', 0, None, 0)]

## SQLite3

## Remove Null entries

Return the number of inspections (`CAMIS`, `INSPDATE` pairs) that do not have a score - i.e. where none of the rows with those (`CAMIS`, `INSPDATE`) values has a score. Remove the corresponding rows from the data set for the rest of the questions in the assignment.

In [9]:
%%sql 
SELECT * from webextract LIMIT 5;

 * sqlite:///nyc_inspection.db
Done.

[(0, 30075445, 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', 10462.0, '7188924968', 8, '2014-03-03 00:00:00', 'D', '10F', 2.0, 'A', '2014-03-03 00:00:00', '2014-09-04 06:01:28.403000000'),
 (1, 30112340, "WENDY'S", 3, '469', 'FLATBUSH AVENUE', 11225.0, '7182875005', 39, '2014-07-01 00:00:00', 'F', '06A', 23.0, 'B', '2014-07-01 00:00:00', '2014-09-04 06:01:28.403000000'),
 (2, 30191841, 'DJ REYNOLDS PUB AND RESTAURANT', 1, '351', 'WEST 57 STREET', 10019.0, '2122452912', 3, '2013-07-22 00:00:00', 'D', '10B', 11.0, 'A', '2013-07-22 00:00:00', '2014-09-04 06:01:28.403000000'),
 (3, 40356483, "WILKEN'S FINE FOOD", 3, '7114      ', 'AVENUE U                        ', 11234.0, '7184443838', 27, '2014-05-29 00:00:00', 'D', '08C', 10.0, 'A', '2014-05-29 00:00:00', '2014-09-04 06:01:28.403000000'),
 (4, 30191841, 'DJ REYNOLDS PUB AND RESTAURANT', 1, '351', 'WEST 57 STREET', 10019.0, '2122452912', 3, '2013-07-22 00:00:00', 'D', '02G', 11.0, 'A', '2013-07-22 00:00:00', '2014-09-04 06:01:28.403000000')]

In [42]:
%%sql
with null_table as (SELECT count(SCORE) as count_null FROM webextract GROUP BY CAMIS, INSPDATE HAVING count(SCORE) =0)
select count(*)
from null_table;

 * sqlite:///nyc_inspection.db
Done.

[(8255,)]

In [43]:
%%sql
CREATE TEMP TABLE IF NOT EXISTS FINAL_TABLE AS
SELECT * FROM WEBEXTRACT
JOIN (SELECT CAMIS, INSPDATE FROM webextract GROUP BY CAMIS, INSPDATE HAVING count(SCORE) !=0) AS N
WHERE WEBEXTRACT.CAMIS=N.CAMIS AND WEBEXTRACT.INSPDATE=N.INSPDATE;

 * sqlite:///nyc_inspection.db
Done.

[]

In [12]:
%%sql
SELECT * FROM FINAL_TABLE LIMIT 10

 * sqlite:///nyc_inspection.db
Done.

[(0, 30075445, 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', 10462.0, '7188924968', 8, '2014-03-03 00:00:00', 'D', '10F', 2.0, 'A', '2014-03-03 00:00:00', '2014-09-04 06:01:28.403000000', 30075445, '2014-03-03 00:00:00'),
 (1, 30112340, "WENDY'S", 3, '469', 'FLATBUSH AVENUE', 11225.0, '7182875005', 39, '2014-07-01 00:00:00', 'F', '06A', 23.0, 'B', '2014-07-01 00:00:00', '2014-09-04 06:01:28.403000000', 30112340, '2014-07-01 00:00:00'),
 (2, 30191841, 'DJ REYNOLDS PUB AND RESTAURANT', 1, '351', 'WEST 57 STREET', 10019.0, '2122452912', 3, '2013-07-22 00:00:00', 'D', '10B', 11.0, 'A', '2013-07-22 00:00:00', '2014-09-04 06:01:28.403000000', 30191841, '2013-07-22 00:00:00'),
 (3, 40356483, "WILKEN'S FINE FOOD", 3, '7114      ', 'AVENUE U                        ', 11234.0, '7184443838', 27, '2014-05-29 00:00:00', 'D', '08C', 10.0, 'A', '2014-05-29 00:00:00', '2014-09-04 06:01:28.403000000', 40356483, '2014-05-29 00:00:00'),
 (4, 30191841, 'DJ REYNOLDS PUB AND RESTAURANT', 1, '351', 'WEST 57 STREET', 10019.0, '2122452912', 3, '2013-07-22 00:00:00', 'D', '02G', 11.0, 'A', '2013-07-22 00:00:00', '2014-09-04 06:01:28.403000000', 30191841, '2013-07-22 00:00:00'),
 (5, 30191841, 'DJ REYNOLDS PUB AND RESTAURANT', 1, '351', 'WEST 57 STREET', 10019.0, '2122452912', 3, '2013-07-22 00:00:00', 'D', '10F', 11.0, 'A', '2013-07-22 00:00:00', '2014-09-04 06:01:28.403000000', 30191841, '2013-07-22 00:00:00'),
 (6, 40356018, 'RIVIERA CATERER', 3, '2780', 'STILLWELL AVENUE', 11224.0, '7183723031', 3, '2014-06-10 00:00:00', 'D', '10F', 5.0, 'A', '2014-06-10 00:00:00', '2014-09-04 06:01:28.403000000', 40356018, '2014-06-10 00:00:00'),
 (7, 40356068, 'TOV KOSHER KITCHEN', 4, '97-22', '63 ROAD', 11374.0, '7188967788', 50, '2013-01-17 00:00:00', 'D', '06D', 13.0, 'Z', '2013-01-17 00:00:00', '2014-09-04 06:01:28.403000000', 40356068, '2013-01-17 00:00:00'),
 (8, 40356483, "WILKEN'S FINE FOOD", 3, '7114      ', 'AVENUE U                        ', 11234.0, '7184443838', 27, '2014-05-29 00:00:00', 'D', '04M', 10.0, 'A', '2014-05-29 00:00:00', '2014-09-04 06:01:28.403000000', 40356483, '2014-05-29 00:00:00'),
 (9, 40356731, 'TASTE THE TROPICS ICE CREAM', 3, '1839      ', 'NOSTRAND AVENUE                                                                                     ', 11226.0, '7188560821', 43, '2014-07-14 00:00:00', 'D', '10F', 12.0, 'A', '2014-07-14 00:00:00', '2014-09-04 06:01:28.403000000', 40356731, '2014-07-14 00:00:00')]

## Check score by zip code

Return a list of tuples of the form:

    (zip code, mean score, number of restaurants)

In [95]:
%%sql
DROP TABLE IF EXISTS MDATE_SCORE;
CREATE TEMP TABLE IF NOT EXISTS MDATE_SCORE AS
SELECT SCORE, MAX(INSPDATE) AS MDATE,ZIPCODE,CAMIS FROM FINAL_TABLE GROUP BY ZIPCODE,CAMIS

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [113]:
%%sql
CREATE TEMP TABLE IF NOT EXISTS ZIPCODE AS
SELECT ZIPCODE,AVG(SCORE),COUNT(CAMIS) 
FROM MDATE_SCORE
GROUP BY ZIPCODE
HAVING COUNT(DISTINCT CAMIS) >100
ORDER BY AVG(SCORE)

 * sqlite:///nyc_inspection.db
Done.

[]

In [93]:
%%sql
WITH MD AS (SELECT MAX(INSPDATE) AS MDATE,CAMIS FROM FINAL_TABLE GROUP BY CAMIS)
SELECT WEB.ZIPCODE, AVG(WEB.SCORE), COUNT(WEB.CAMIS) FROM MD
JOIN FINAL_TABLE AS WEB
WHERE MD.MDATE=WEB.INSPDATE AND MD.CAMIS=WEB.CAMIS
GROUP BY WEB.ZIPCODE HAVING COUNT(DISTINCT WEB.CAMIS)>100
ORDER BY AVG(WEB.SCORE)

 * sqlite:///nyc_inspection.db
Done.

[(10306.0, 11.991701244813278, 259),
 (11234.0, 12.123123123123124, 355),
 (10451.0, 12.177914110429448, 346),
 (10065.0, 12.304147465437788, 458),
 (10001.0, 12.323612417685794, 1110),
 (10472.0, 12.472340425531915, 250),
 (11231.0, 12.690340909090908, 382),
 (10462.0, 12.838235294117647, 354),
 (10007.0, 13.116719242902208, 331),
 (11217.0, 13.309278350515465, 619),
 (10461.0, 13.474777448071217, 359),
 (11237.0, 13.56532663316583, 422),
 (11201.0, 13.725743855109961, 827),
 (11385.0, 13.74614065180103, 612),
 (11207.0, 13.747508305647841, 310),
 (11368.0, 13.771822358346094, 681),
 (10022.0, 13.786163522012579, 1153),
 (11236.0, 13.787234042553191, 247),
 (10019.0, 13.799331103678929, 1579),
 (11435.0, 13.919540229885058, 276),
 (11204.0, 13.974910394265233, 290),
 (11105.0, 13.981549815498155, 284),
 (11101.0, 14.092526690391459, 597),
 (10458.0, 14.10467706013363, 475),
 (11430.0, 14.158940397350994, 318),
 (10468.0, 14.158995815899582, 249),
 (11103.0, 14.259109311740891, 518),
 (11215.0, 14.282805429864254, 945),
 (11361.0, 14.301075268817204, 295),
 (10467.0, 14.30890052356021, 399),
 (10023.0, 14.362850971922246, 497),
 (11375.0, 14.405919661733614, 495),
 (11222.0, 14.419134396355354, 478),
 (10004.0, 14.492012779552716, 326),
 (10024.0, 14.522916666666667, 509),
 (10009.0, 14.581012658227849, 857),
 (10314.0, 14.589519650655022, 477),
 (11209.0, 14.63050847457627, 636),
 (10027.0, 14.644670050761421, 415),
 (10010.0, 14.682967959527824, 634),
 (10463.0, 14.714754098360656, 325),
 (11230.0, 14.765432098765432, 255),
 (10036.0, 14.79051094890511, 1463),
 (10012.0, 14.812812812812814, 1054),
 (10028.0, 14.85608856088561, 591),
 (10017.0, 14.982993197278912, 923),
 (11373.0, 14.98913043478261, 573),
 (11232.0, 15.096, 266),
 (11106.0, 15.20159151193634, 403),
 (11358.0, 15.211699164345404, 380),
 (10011.0, 15.244239631336406, 1147),
 (10014.0, 15.270403146509341, 1096),
 (11208.0, 15.321428571428571, 292),
 (11223.0, 15.348684210526315, 473),
 (10018.0, 15.40389294403893, 864),
 (11205.0, 15.491712707182321, 381),
 (11432.0, 15.52421052631579, 502),
 (10013.0, 15.544178364987614, 1268),
 (11206.0, 15.607669616519175, 361),
 (11238.0, 15.69620253164557, 614),
 (11203.0, 15.761627906976743, 359),
 (10021.0, 15.764988009592326, 443),
 (10025.0, 15.775043936731107, 595),
 (11226.0, 15.925619834710744, 505),
 (10003.0, 16.024361948955917, 1842),
 (10002.0, 16.03111858704794, 1286),
 (11214.0, 16.055913978494623, 478),
 (10016.0, 16.158869395711502, 1060),
 (11221.0, 16.2, 280),
 (10038.0, 16.205955334987593, 423),
 (11218.0, 16.230113636363637, 371),
 (10029.0, 16.388663967611336, 520),
 (10033.0, 16.505119453924916, 310),
 (11219.0, 16.52, 286),
 (11211.0, 16.74890829694323, 971),
 (11372.0, 16.855072463768117, 864),
 (11216.0, 17.103703703703705, 425),
 (11377.0, 17.624548736462096, 589),
 (11220.0, 17.755528255528255, 842),
 (11249.0, 17.769028871391075, 425),
 (10032.0, 17.774305555555557, 298),
 (11104.0, 18.013651877133107, 309),
 (11229.0, 18.154054054054054, 385),
 (11354.0, 18.425389755011135, 914),
 (11355.0, 18.942549371633753, 574),
 (10128.0, 19.085106382978722, 447),
 (11235.0, 19.723175965665234, 490)]

In [31]:
result=_

In [32]:
len(list(result))

87

In [76]:
score_by_zipcode=[(str(int(x[0])),x[1],x[2]) for x in list(result)]
score_by_zipcode

[('10306', 11.991701244813278, 105),
 ('11234', 12.123123123123124, 145),
 ('10451', 12.177914110429448, 154),
 ('10065', 12.304147465437788, 167),
 ('10001', 12.323612417685794, 495),
 ('10472', 12.472340425531915, 107),
 ('11231', 12.690340909090908, 152),
 ('10462', 12.838235294117647, 145),
 ('10007', 13.116719242902208, 131),
 ('11217', 13.309278350515465, 246),
 ('10461', 13.474777448071217, 149),
 ('11237', 13.56532663316583, 175),
 ('11201', 13.725743855109961, 333),
 ('11385', 13.74614065180103, 243),
 ('11207', 13.747508305647841, 128),
 ('11368', 13.771822358346094, 280),
 ('10022', 13.786163522012579, 473),
 ('11236', 13.787234042553191, 106),
 ('10019', 13.799331103678929, 648),
 ('11435', 13.919540229885058, 103),
 ('11204', 13.974910394265233, 120),
 ('11105', 13.981549815498155, 119),
 ('11101', 14.092526690391459, 230),
 ('10458', 14.10467706013363, 188),
 ('11430', 14.158940397350994, 145),
 ('10468', 14.158995815899582, 102),
 ('11103', 14.259109311740891, 201),
 ('11215', 14.282805429864254, 360),
 ('11361', 14.301075268817204, 112),
 ('10467', 14.30890052356021, 161),
 ('10023', 14.362850971922246, 192),
 ('11375', 14.405919661733614, 190),
 ('11222', 14.419134396355354, 185),
 ('10004', 14.492012779552716, 127),
 ('10024', 14.522916666666667, 195),
 ('10009', 14.581012658227849, 303),
 ('10314', 14.589519650655022, 182),
 ('11209', 14.63050847457627, 253),
 ('10027', 14.644670050761421, 158),
 ('10010', 14.682967959527824, 239),
 ('10463', 14.714754098360656, 126),
 ('11230', 14.765432098765432, 101),
 ('10036', 14.79051094890511, 581),
 ('10012', 14.812812812812814, 395),
 ('10028', 14.85608856088561, 211),
 ('10017', 14.982993197278912, 364),
 ('11373', 14.98913043478261, 219),
 ('11232', 15.096, 106),
 ('11106', 15.20159151193634, 154),
 ('11358', 15.211699164345404, 137),
 ('10011', 15.244239631336406, 441),
 ('10014', 15.270403146509341, 399),
 ('11208', 15.321428571428571, 113),
 ('11223', 15.348684210526315, 178),
 ('10018', 15.40389294403893, 325),
 ('11205', 15.491712707182321, 144),
 ('11432', 15.52421052631579, 185),
 ('10013', 15.544178364987614, 464),
 ('11206', 15.607669616519175, 141),
 ('11238', 15.69620253164557, 229),
 ('11203', 15.761627906976743, 135),
 ('10021', 15.764988009592326, 149),
 ('10025', 15.775043936731107, 229),
 ('11226', 15.925619834710744, 198),
 ('10003', 16.024361948955917, 658),
 ('10002', 16.03111858704794, 454),
 ('11214', 16.055913978494623, 175),
 ('10016', 16.158869395711502, 402),
 ('11221', 16.2, 106),
 ('10038', 16.205955334987593, 162),
 ('11218', 16.230113636363637, 142),
 ('10029', 16.388663967611336, 191),
 ('10033', 16.505119453924916, 113),
 ('11219', 16.52, 101),
 ('11211', 16.74890829694323, 348),
 ('11372', 16.855072463768117, 309),
 ('11216', 17.103703703703705, 159),
 ('11377', 17.624548736462096, 206),
 ('11220', 17.755528255528255, 305),
 ('11249', 17.769028871391075, 147),
 ('10032', 17.774305555555557, 115),
 ('11104', 18.013651877133107, 110),
 ('11229', 18.154054054054054, 138),
 ('11354', 18.425389755011135, 344),
 ('11355', 18.942549371633753, 187),
 ('10128', 19.085106382978722, 157),
 ('11235', 19.723175965665234, 172)]

## Mapping scores on CartoDB

In [1]:
# must be url of the form https://x.cartodb.com/...
score_by_map = "https://zzhu0926.carto.com/builder/4e424589-44ec-4d28-85c6-53bf0f418476/embed"

## Check score by borough

In [124]:
%%sql
SELECT * FROM BOROUGHS LIMIT 5

 * sqlite:///nyc_inspection.db
Done.

[(1, 'MANHATTAN'),
 (2, 'THE BRONX'),
 (3, 'BROOKLYN'),
 (4, 'QUEENS'),
 (5, 'STATEN ISLAND')]

In [125]:
%%sql
SELECT * FROM FINAL_TABLE LIMIT 5

 * sqlite:///nyc_inspection.db
Done.

[(0, 30075445, 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', 10462.0, '7188924968', 8, '2014-03-03 00:00:00', 'D', '10F', 2.0, 'A', '2014-03-03 00:00:00', '2014-09-04 06:01:28.403000000', 30075445, '2014-03-03 00:00:00'),
 (1, 30112340, "WENDY'S", 3, '469', 'FLATBUSH AVENUE', 11225.0, '7182875005', 39, '2014-07-01 00:00:00', 'F', '06A', 23.0, 'B', '2014-07-01 00:00:00', '2014-09-04 06:01:28.403000000', 30112340, '2014-07-01 00:00:00'),
 (2, 30191841, 'DJ REYNOLDS PUB AND RESTAURANT', 1, '351', 'WEST 57 STREET', 10019.0, '2122452912', 3, '2013-07-22 00:00:00', 'D', '10B', 11.0, 'A', '2013-07-22 00:00:00', '2014-09-04 06:01:28.403000000', 30191841, '2013-07-22 00:00:00'),
 (3, 40356483, "WILKEN'S FINE FOOD", 3, '7114      ', 'AVENUE U                        ', 11234.0, '7184443838', 27, '2014-05-29 00:00:00', 'D', '08C', 10.0, 'A', '2014-05-29 00:00:00', '2014-09-04 06:01:28.403000000', 40356483, '2014-05-29 00:00:00'),
 (4, 30191841, 'DJ REYNOLDS PUB AND RESTAURANT', 1, '351', 'WEST 57 STREET', 10019.0, '2122452912', 3, '2013-07-22 00:00:00', 'D', '02G', 11.0, 'A', '2013-07-22 00:00:00', '2014-09-04 06:01:28.403000000', 30191841, '2013-07-22 00:00:00')]

In [130]:
%%sql
SELECT SCORE,CAMIS,INSPDATE,BORO FROM FINAL_TABLE 
JOIN BOROUGHS WHERE BORO = ID LIMIT 5

 * sqlite:///nyc_inspection.db
Done.

[(2.0, 30075445, '2014-03-03 00:00:00', 2),
 (23.0, 30112340, '2014-07-01 00:00:00', 3),
 (11.0, 30191841, '2013-07-22 00:00:00', 1),
 (10.0, 40356483, '2014-05-29 00:00:00', 3),
 (11.0, 30191841, '2013-07-22 00:00:00', 1)]

In [140]:
%%sql
WITH BOR AS (SELECT SCORE,NAME,CAMIS, MAX(INSPDATE) AS MDATE FROM FINAL_TABLE 
JOIN BOROUGHS WHERE BORO = ID 
GROUP BY CAMIS)
SELECT NAME,AVG(SCORE), COUNT(DISTINCT CAMIS)
FROM BOR
GROUP BY NAME
ORDER BY AVG(SCORE)

 * sqlite:///nyc_inspection.db
Done.

[('THE BRONX', 10.799032541776604, 2281),
 ('MANHATTAN', 11.437810945273633, 9891),
 ('BROOKLYN', 11.552789699570816, 5849),
 ('QUEENS', 11.800629396519808, 5417),
 ('STATEN ISLAND', 11.87885462555066, 912)]

In [135]:
result=_

In [152]:
import numpy as np
score_by_borough=list(result)
score_by_borough=[(str(x[0]),x[1],x[2]) for x in list(result)]
score_by_borough

[('BROOKLYN', 11.552789699570816, 5849),
 ('MANHATTAN', 11.437810945273633, 9891),
 ('QUEENS', 11.800629396519808, 5417),
 ('STATEN ISLAND', 11.87885462555066, 912),
 ('THE BRONX', 10.799032541776604, 2281)]

## Check violations by cuisine

check what is the common violation by different cuisine

In [156]:
%%sql
SELECT * FROM VIOLATIONS LIMIT 5

 * sqlite:///nyc_inspection.db
Done.

[(0, '1901-01-01 00:00:00', '2003-03-23 00:00:00', 'Y', '01A', 'Current valid <a    onmouseover="ShowContent(\'P2\',\'01A\'); return true;"     href="javascript:ShowContent(\'P2\',\'01A\')">permit</A> , registration or other authorization to operate establishment not available.'),
 (1, '2003-03-24 00:00:00', '2005-02-17 00:00:00', 'Y', '01A', 'Current valid <a    onmouseover="ShowContent(\'P2\',\'01A\'); return true;"     href="javascript:ShowContent(\'P2\',\'01A\')">permit</A> , registration or other authorization to operate establishment not available.'),
 (2, '2005-02-18 00:00:00', '2007-06-30 00:00:00', 'Y', '01A', 'Current valid <a    onmouseover="ShowContent(\'P2\',\'01A\'); return true;"     href="javascript:ShowContent(\'P2\',\'01A\')">permit</A> , registration or other authorization to operate establishment not available.'),
 (3, '2007-07-01 00:00:00', '2008-06-30 00:00:00', 'Y', '01A', 'Current valid permit, registration or other authorization to operate establishment not available.  Violations points are not assessed for Smoke Free Air Act, trans fat, calorie posting or permit and poster violations.'),
 (4, '2008-07-01 00:00:00', '2009-08-01 00:00:00', 'Y', '01A', 'Current valid permit, registration or other authorization to operate establishment not available.  Violations points are not assessed for Smoke Free Air Act, trans fat, calorie posting or permit and poster violations.')]

In [157]:
%%sql
SELECT * FROM FINAL_TABLE LIMIT 5

 * sqlite:///nyc_inspection.db
Done.

[(0, 30075445, 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', 10462.0, '7188924968', 8, '2014-03-03 00:00:00', 'D', '10F', 2.0, 'A', '2014-03-03 00:00:00', '2014-09-04 06:01:28.403000000', 30075445, '2014-03-03 00:00:00'),
 (1, 30112340, "WENDY'S", 3, '469', 'FLATBUSH AVENUE', 11225.0, '7182875005', 39, '2014-07-01 00:00:00', 'F', '06A', 23.0, 'B', '2014-07-01 00:00:00', '2014-09-04 06:01:28.403000000', 30112340, '2014-07-01 00:00:00'),
 (2, 30191841, 'DJ REYNOLDS PUB AND RESTAURANT', 1, '351', 'WEST 57 STREET', 10019.0, '2122452912', 3, '2013-07-22 00:00:00', 'D', '10B', 11.0, 'A', '2013-07-22 00:00:00', '2014-09-04 06:01:28.403000000', 30191841, '2013-07-22 00:00:00'),
 (3, 40356483, "WILKEN'S FINE FOOD", 3, '7114      ', 'AVENUE U                        ', 11234.0, '7184443838', 27, '2014-05-29 00:00:00', 'D', '08C', 10.0, 'A', '2014-05-29 00:00:00', '2014-09-04 06:01:28.403000000', 40356483, '2014-05-29 00:00:00'),
 (4, 30191841, 'DJ REYNOLDS PUB AND RESTAURANT', 1, '351', 'WEST 57 STREET', 10019.0, '2122452912', 3, '2013-07-22 00:00:00', 'D', '02G', 11.0, 'A', '2013-07-22 00:00:00', '2014-09-04 06:01:28.403000000', 30191841, '2013-07-22 00:00:00')]

In [233]:
##creating restaurant*years
%%sql
DROP TABLE IF EXISTS DEN;
CREATE TEMP TABLE IF NOT EXISTS DEN AS
SELECT CAMIS, COUNT(VIOLCODE),CUISINECODE, CASE WHEN 
(MAX(JULIANDAY(INSPDATE))-MIN(JULIANDAY(INSPDATE)))>30 THEN (MAX(JULIANDAY(INSPDATE))-MIN(JULIANDAY(INSPDATE)))
ELSE 30
END AS LENGTH
FROM FINAL_TABLE
GROUP BY CAMIS
#creating ratio
%%sql
DROP TABLE IF EXISTS RATIO_TABLE;
CREATE TEMP TABLE IF NOT EXISTS RATIO_TABLE AS
WITH DEN1 AS (SELECT CUISINECODE, SUM(LENGTH*1.0/365) AS YEARS FROM DEN
GROUP BY CUISINECODE)
SELECT DEN1.CUISINECODE, COUNT(VIOLCODE)/YEARS AS RATIO
FROM FINAL_TABLE
JOIN DEN1
WHERE DEN1.CUISINECODE = FINAL_TABLE.CUISINECODE
GROUP BY DEN1.CUISINECODE
HAVING COUNT(VIOLCODE)>100
%%sql
SELECT CODEDESC, RATIO
FROM RATIO_TABLE AS A
JOIN CUISINE AS B
WHERE A.CUISINECODE = B.CUISINECODE

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [261]:
result=_

In [262]:
len(list(result))

75

In [263]:
score_by_cuisine=list(result)
score_by_cuisine=[(str(x[0]),x[1]) for x in list(result)]
score_by_cuisine

[('Not Listed/Not Applicable', 7.107482367371969),
 ('Afghan', 12.360055286800273),
 ('African', 12.991788992602341),
 ('American ', 9.644790706668536),
 ('Armenian', 10.031780125367113),
 ('Asian', 13.636893289804854),
 ('Australian', 11.041717492071236),
 ('Bagels/Pretzels', 10.191287253403777),
 ('Bakery', 10.881243766719196),
 ('Bangladeshi', 14.040479041916166),
 ('Barbecue', 8.741986210233456),
 ('Bottled beverages, including water, sodas, juices, etc.',
  7.012834143377886),
 ('Brazilian', 12.817468674318208),
 ('Caf/Coffee/Tea', 6.6956624422321225),
 ('Cajun', 9.451556590049462),
 ('Caribbean', 11.985932928201702),
 ('Chicken', 10.070646586978178),
 ('Chinese', 13.32223179222801),
 ('Chinese/Cuban', 14.824929971988793),
 ('Chinese/Japanese', 15.589578473568357),
 ('Continental', 10.075140271238054),
 ('Creole', 15.901129218529448),
 ('Czech', 10.015243902439027),
 ('Delicatessen', 12.66670551727151),
 ('Vietnamese/Cambodian/Malaysia', 12.8827679520634),
 ('Donuts', 6.071925883292198),
 ('Eastern European', 12.16170944814161),
 ('Egyptian', 9.983162217659139),
 ('English', 9.300964187327825),
 ('Ethiopian', 8.541880072492317),
 ('Filipino', 13.05800037991515),
 ('French', 10.475615842294447),
 ('German', 11.378444263869396),
 ('Greek', 10.25205295793531),
 ('Hamburgers', 7.416488101843058),
 ('Hotdogs', 5.982698436788588),
 ('Hotdogs/Pretzels', 3.769903887534069),
 ('Ice Cream, Gelato, Yogurt, Ices', 6.20141096100775),
 ('Indian', 13.327544247291776),
 ('Indonesian', 13.634689582602595),
 ('Irish', 9.925663375932702),
 ('Italian', 10.878175573046473),
 ('Japanese', 12.320694974575261),
 ('Jewish/Kosher', 11.148722601750382),
 ('Juice, Smoothies, Fruit Salads', 7.035177720776848),
 ('Korean', 13.25442073732474),
 ('Latin (Cuban, Dominican, Puerto Rican, South & Central American)',
  13.080659070482772),
 ('Mediterranean', 10.931307649780326),
 ('Mexican', 12.001077225757061),
 ('Middle Eastern', 10.347053395560131),
 ('Moroccan', 11.113718214558547),
 ('Pakistani', 14.817593336009637),
 ('Pancakes/Waffles', 11.323450752655308),
 ('Peruvian', 13.640651118363447),
 ('Pizza', 10.048399673324509),
 ('Pizza/Italian', 11.131734436577846),
 ('Polish', 10.823077558437268),
 ('Portuguese', 15.056818181818183),
 ('Russian', 11.012599089730841),
 ('Salads', 9.700996677740868),
 ('Sandwiches', 6.547954144523264),
 ('Sandwiches/Salads/Mixed Buffet', 7.4493803250687565),
 ('Scandinavian', 10.709925167388736),
 ('Seafood', 11.114339348545878),
 ('Soul Food', 11.56570363466915),
 ('Soups & Sandwiches', 5.853531807330433),
 ('Southwestern', 10.54189305118673),
 ('Spanish', 13.2843224958765),
 ('Steak', 9.363833008868703),
 ('Tapas', 11.071733990643393),
 ('Tex-Mex', 10.605718585402558),
 ('Thai', 12.852537609522194),
 ('Turkish', 11.876747386984391),
 ('Vegetarian', 10.532729445436175),
 ('Other', 8.945725737564908)]

In [197]:
%%sql
DROP TABLE IF EXISTS COUNT_VIO;
CREATE TEMP TABLE IF NOT EXISTS COUNT_VIO AS
SELECT COUNT(VIOLCODE) AS TOTAL,CUISINECODE
FROM FINAL_TABLE
GROUP BY CUISINECODE

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [221]:
%%sql
DROP TABLE IF EXISTS COUNT_DEN;
CREATE TEMP TABLE IF NOT EXISTS COUNT_DEN AS
WITH A AS (SELECT COUNT(VIOLCODE) AS TOTAL,CUISINECODE,CAMIS, (MAX(INSPDATE)-MIN(INSPDATE) +1) AS LENGTH
FROM FINAL_TABLE
GROUP BY CAMIS)
SELECT SUM(TOTAL/LENGTH) AS DEN, CUISINECODE
FROM A
GROUP BY CUISINECODE

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [222]:
%%sql
SELECT * FROM COUNT_DEN LIMIT 10

 * sqlite:///nyc_inspection.db
Done.

[(52, 0),
 (98, 1),
 (629, 2),
 (36781, 3),
 (275, 4),
 (2488, 5),
 (94, 6),
 (1098, 7),
 (4575, 8),
 (256, 9)]

In [214]:
%%sql
DROP TABLE IF EXISTS RATIO;
CREATE TEMP TABLE IF NOT EXISTS RATIO AS
SELECT TOTAL/DEN AS R,COUNT_DEN.CUISINECODE, TOTAL FROM COUNT_VIO 
JOIN COUNT_DEN
WHERE COUNT_DEN.CUISINECODE = COUNT_VIO.CUISINECODE

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [215]:
%%sql
SELECT * FROM RATIO LIMIT 10

 * sqlite:///nyc_inspection.db
Done.

[(2, 0, 127),
 (3, 1, 294),
 (2, 2, 1838),
 (3, 3, 124425),
 (2, 4, 627),
 (3, 5, 7599),
 (2, 6, 248),
 (3, 7, 3636),
 (3, 8, 15992),
 (3, 9, 803)]

In [216]:
%%sql
SELECT CODEDESC, R FROM RATIO 
JOIN CUISINE
WHERE RATIO.CUISINECODE = CUISINE.CUISINECODE 
AND TOTAL > 100

 * sqlite:///nyc_inspection.db
Done.

[('Not Listed/Not Applicable', 2),
 ('Afghan', 3),
 ('African', 2),
 ('American ', 3),
 ('Armenian', 2),
 ('Asian', 3),
 ('Australian', 2),
 ('Bagels/Pretzels', 3),
 ('Bakery', 3),
 ('Bangladeshi', 3),
 ('Barbecue', 3),
 ('Bottled beverages, including water, sodas, juices, etc.', 3),
 ('Brazilian', 3),
 ('Caf/Coffee/Tea', 3),
 ('Cajun', 3),
 ('Caribbean', 3),
 ('Chicken', 2),
 ('Chinese', 3),
 ('Chinese/Cuban', 3),
 ('Chinese/Japanese', 2),
 ('Continental', 3),
 ('Creole', 3),
 ('Czech', 3),
 ('Delicatessen', 3),
 ('Vietnamese/Cambodian/Malaysia', 3),
 ('Donuts', 3),
 ('Eastern European', 3),
 ('Egyptian', 3),
 ('English', 3),
 ('Ethiopian', 3),
 ('Filipino', 3),
 ('French', 3),
 ('German', 3),
 ('Greek', 3),
 ('Hamburgers', 3),
 ('Hotdogs', 3),
 ('Hotdogs/Pretzels', 3),
 ('Ice Cream, Gelato, Yogurt, Ices', 3),
 ('Indian', 3),
 ('Indonesian', 3),
 ('Irish', 3),
 ('Italian', 3),
 ('Japanese', 3),
 ('Jewish/Kosher', 3),
 ('Juice, Smoothies, Fruit Salads', 2),
 ('Korean', 3),
 ('Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 3),
 ('Mediterranean', 2),
 ('Mexican', 3),
 ('Middle Eastern', 3),
 ('Moroccan', 2),
 ('Pakistani', 3),
 ('Pancakes/Waffles', 3),
 ('Peruvian', 3),
 ('Pizza', 3),
 ('Pizza/Italian', 3),
 ('Polish', 3),
 ('Portuguese', 3),
 ('Russian', 3),
 ('Salads', 2),
 ('Sandwiches', 3),
 ('Sandwiches/Salads/Mixed Buffet', 3),
 ('Scandinavian', 3),
 ('Seafood', 3),
 ('Soul Food', 3),
 ('Soups & Sandwiches', 3),
 ('Southwestern', 3),
 ('Spanish', 2),
 ('Steak', 3),
 ('Tapas', 2),
 ('Tex-Mex', 3),
 ('Thai', 3),
 ('Turkish', 3),
 ('Vegetarian', 3),
 ('Other', 1)]

In [203]:
%%sql
SELECT CODEDESC,R FROM COUNT_VIO 
JOIN CUISINE
WHERE COUNT_VIO.CUISINECODE = CUISINE.CUISINECODE 
AND TOTAL > 100

 * sqlite:///nyc_inspection.db
Done.

[('Not Listed/Not Applicable', 127),
 ('Afghan', 294),
 ('African', 1838),
 ('American ', 124425),
 ('Armenian', 627),
 ('Asian', 7599),
 ('Australian', 248),
 ('Bagels/Pretzels', 3636),
 ('Bakery', 15992),
 ('Bangladeshi', 803),
 ('Barbecue', 792),
 ('Bottled beverages, including water, sodas, juices, etc.', 1012),
 ('Brazilian', 667),
 ('Caf/Coffee/Tea', 14713),
 ('Cajun', 178),
 ('Caribbean', 16049),
 ('Chicken', 7354),
 ('Chinese', 60599),
 ('Chinese/Cuban', 435),
 ('Chinese/Japanese', 1300),
 ('Continental', 979),
 ('Creole', 679),
 ('Czech', 126),
 ('Delicatessen', 9528),
 ('Vietnamese/Cambodian/Malaysia', 1826),
 ('Donuts', 6272),
 ('Eastern European', 1472),
 ('Egyptian', 333),
 ('English', 333),
 ('Ethiopian', 297),
 ('Filipino', 565),
 ('French', 7361),
 ('German', 844),
 ('Greek', 2514),
 ('Hamburgers', 7632),
 ('Hotdogs', 432),
 ('Hotdogs/Pretzels', 144),
 ('Ice Cream, Gelato, Yogurt, Ices', 3651),
 ('Indian', 8147),
 ('Indonesian', 213),
 ('Irish', 4377),
 ('Italian', 25449),
 ('Japanese', 18315),
 ('Jewish/Kosher', 7507),
 ('Juice, Smoothies, Fruit Salads', 2630),
 ('Korean', 6898),
 ('Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 25852),
 ('Mediterranean', 4117),
 ('Mexican', 18283),
 ('Middle Eastern', 3195),
 ('Moroccan', 279),
 ('Pakistani', 809),
 ('Pancakes/Waffles', 406),
 ('Peruvian', 1878),
 ('Pizza', 25511),
 ('Pizza/Italian', 10571),
 ('Polish', 718),
 ('Portuguese', 265),
 ('Russian', 2002),
 ('Salads', 552),
 ('Sandwiches', 6488),
 ('Sandwiches/Salads/Mixed Buffet', 3035),
 ('Scandinavian', 149),
 ('Seafood', 3228),
 ('Soul Food', 1020),
 ('Soups & Sandwiches', 571),
 ('Southwestern', 202),
 ('Spanish', 13019),
 ('Steak', 1779),
 ('Tapas', 603),
 ('Tex-Mex', 2819),
 ('Thai', 6816),
 ('Turkish', 1513),
 ('Vegetarian', 1956),
 ('Other', 1865)]

In [217]:
result=_

In [218]:
len(list(result))

75

In [219]:
score_by_cuisine=list(result)
score_by_cuisine=[(str(x[0]),x[1]) for x in list(result)]
score_by_cuisine

[('Not Listed/Not Applicable', 2),
 ('Afghan', 3),
 ('African', 2),
 ('American ', 3),
 ('Armenian', 2),
 ('Asian', 3),
 ('Australian', 2),
 ('Bagels/Pretzels', 3),
 ('Bakery', 3),
 ('Bangladeshi', 3),
 ('Barbecue', 3),
 ('Bottled beverages, including water, sodas, juices, etc.', 3),
 ('Brazilian', 3),
 ('Caf/Coffee/Tea', 3),
 ('Cajun', 3),
 ('Caribbean', 3),
 ('Chicken', 2),
 ('Chinese', 3),
 ('Chinese/Cuban', 3),
 ('Chinese/Japanese', 2),
 ('Continental', 3),
 ('Creole', 3),
 ('Czech', 3),
 ('Delicatessen', 3),
 ('Vietnamese/Cambodian/Malaysia', 3),
 ('Donuts', 3),
 ('Eastern European', 3),
 ('Egyptian', 3),
 ('English', 3),
 ('Ethiopian', 3),
 ('Filipino', 3),
 ('French', 3),
 ('German', 3),
 ('Greek', 3),
 ('Hamburgers', 3),
 ('Hotdogs', 3),
 ('Hotdogs/Pretzels', 3),
 ('Ice Cream, Gelato, Yogurt, Ices', 3),
 ('Indian', 3),
 ('Indonesian', 3),
 ('Irish', 3),
 ('Italian', 3),
 ('Japanese', 3),
 ('Jewish/Kosher', 3),
 ('Juice, Smoothies, Fruit Salads', 2),
 ('Korean', 3),
 ('Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 3),
 ('Mediterranean', 2),
 ('Mexican', 3),
 ('Middle Eastern', 3),
 ('Moroccan', 2),
 ('Pakistani', 3),
 ('Pancakes/Waffles', 3),
 ('Peruvian', 3),
 ('Pizza', 3),
 ('Pizza/Italian', 3),
 ('Polish', 3),
 ('Portuguese', 3),
 ('Russian', 3),
 ('Salads', 2),
 ('Sandwiches', 3),
 ('Sandwiches/Salads/Mixed Buffet', 3),
 ('Scandinavian', 3),
 ('Seafood', 3),
 ('Soul Food', 3),
 ('Soups & Sandwiches', 3),
 ('Southwestern', 3),
 ('Spanish', 2),
 ('Steak', 3),
 ('Tapas', 2),
 ('Tex-Mex', 3),
 ('Thai', 3),
 ('Turkish', 3),
 ('Vegetarian', 3),
 ('Other', 1)]

## Check specific violations by cuisine

In [279]:
%%sql
DROP TABLE IF EXISTS CODE;
CREATE TEMP TABLE IF NOT EXISTS CODE AS
SELECT VIOLATIONCODE, VIOLATIONDESC FROM VIOLATIONS
WHERE JULIANDAY(ENDDATE)>JulianDay('2014-01-01')

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [340]:
%%sql
SELECT * FROM CODE LIMIT 5

 * sqlite:///nyc_inspection.db
Done.

[('02A', 'Food not cooked to required minimum temperature.'),
 ('02B', 'Hot food item not held at or above 140 F.'),
 ('02C', 'Hot food item that has been cooked and refrigerated is being held for service without first being reheated to 1 65 F or above within 2 hours.'),
 ('02D', 'Precooked potentially hazardous food from commercial food processing establishment that is supposed to be heated, but is not heated to 140 F within 2 hours.'),
 ('02E', 'Whole frozen poultry or poultry breasts, other than a single portion, is being cooked frozen or partially thawed.')]

In [348]:
%%sql
DROP TABLE IF EXISTS COUNT_CODE;
CREATE TEMP TABLE IF NOT EXISTS COUNT_CODE AS
SELECT CUISINECODE,VIOLATIONDESC,VIOLCODE,COUNT(VIOLCODE) AS COUNT_VIO FROM FINAL_TABLE 
JOIN CODE
WHERE 
FINAL_TABLE.VIOLCODE=CODE.VIOLATIONCODE
GROUP BY CUISINECODE, VIOLCODE 
HAVING COUNT(VIOLCODE)>100

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [349]:
%%sql
SELECT * FROM COUNT_CODE LIMIT 10

 * sqlite:///nyc_inspection.db
Done.

[(2, 'Hot food item not held at or above 140 F.', '02B', 142),
 (2, 'Cold food item held above 41 F (smoked fish and reduced oxygen packaged foods above 38 F) except during necessary preparation.', '02G', 113),
 (2, "Evidence of mice or live mice present in facility's food and/or non-food areas.", '04L', 175),
 (2, 'Filth flies or food/refuse/sewage-associated (FRSA) flies present in facilitys food and/or non-food areas. Filth flies include house flies, little house flies, blow flies, bottle flies and flesh flies. Food/refuse/sewage-associated flies include fruit flies, drain flies and Phorid flies.', '04N', 114),
 (2, 'Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premises and/or allowing vermin to exist.', '08A', 224),
 (2, 'Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.', '10F', 197),
 (3, 'Food not cooked to required minimum temperature.', '02A', 130),
 (3, 'Hot food item not held at or above 140 F.', '02B', 3836),
 (3, 'Hot food item that has been cooked and refrigerated is being held for service without first being reheated to 1 65 F or above within 2 hours.', '02C', 110),
 (3, 'Cold food item held above 41 F (smoked fish and reduced oxygen packaged foods above 38 F) except during necessary preparation.', '02G', 10890)]

In [352]:
%%sql
SELECT SUM(COUNT_VIO) FROM (SELECT * FROM COUNT_CODE)

 * sqlite:///nyc_inspection.db
Done.

[(457413,)]

In [350]:
%%sql
DROP TABLE IF EXISTS FINAL_TABLE_CODE1;
CREATE TEMP TABLE IF NOT EXISTS FINAL_TABLE_CODE1 AS
SELECT COUNT_CODE.CUISINECODE,COUNT_CODE.VIOLCODE,VIOLATIONDESC, COUNT_VIO FROM FINAL_TABLE
JOIN COUNT_CODE
WHERE 
FINAL_TABLE.VIOLCODE=COUNT_CODE.VIOLCODE
AND FINAL_TABLE.CUISINECODE = COUNT_CODE.CUISINECODE

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [351]:
%%sql
SELECT * FROM FINAL_TABLE_CODE1 LIMIT 10

 * sqlite:///nyc_inspection.db
Done.

[(8, '10F', 'Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.', 1990),
 (39, '06A', 'Personal cleanliness inadequate. Outer garment soiled with possible contaminant.  Effective hair restraint not worn in an area where food is prepared.', 153),
 (3, '10B', 'Plumbing not properly installed or maintained; anti-siphonage or backflow prevention device not provided where required; equipment or floor not properly drained; sewage disposal system in disrepair or not functioning properly.', 8246),
 (27, '08C', 'Pesticide use not in accordance with label or applicable laws. Prohibited chemical used/stored. Open bait station used.', 140),
 (3, '02G', 'Cold food item held above 41 F (smoked fish and reduced oxygen packaged foods above 38 F) except during necessary preparation.', 10890),
 (3, '10F', 'Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.', 16562),
 (3, '10F', 'Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.', 16562),
 (50, '06D', 'Food contact surface not properly washed, rinsed and sanitized after each use and following any activity when contamination may have occurred.', 449),
 (27, '04M', "Live roaches present in facility's food and/or non-food areas.", 254),
 (43, '10F', 'Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.', 642)]

In [363]:
%%sql
DROP TABLE IF EXISTS FINAL_TABLE_COM;
CREATE TEMP TABLE IF NOT EXISTS FINAL_TABLE_COM AS
SELECT * FROM FINAL_TABLE_CODE1 AS F
JOIN CUISINE AS C
WHERE F.CUISINECODE = C.CUISINECODE

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [364]:
%%sql
SELECT * FROM FINAL_TABLE_COM LIMIT 10

 * sqlite:///nyc_inspection.db
Done.

[(8, '10F', 'Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.', 1990, 29, 8, 'Bakery'),
 (39, '06A', 'Personal cleanliness inadequate. Outer garment soiled with possible contaminant.  Effective hair restraint not worn in an area where food is prepared.', 153, 52, 39, 'Hamburgers'),
 (3, '10B', 'Plumbing not properly installed or maintained; anti-siphonage or backflow prevention device not provided where required; equipment or floor not properly drained; sewage disposal system in disrepair or not functioning properly.', 8246, 1, 3, 'American '),
 (27, '08C', 'Pesticide use not in accordance with label or applicable laws. Prohibited chemical used/stored. Open bait station used.', 140, 45, 27, 'Delicatessen'),
 (3, '02G', 'Cold food item held above 41 F (smoked fish and reduced oxygen packaged foods above 38 F) except during necessary preparation.', 10890, 1, 3, 'American '),
 (3, '10F', 'Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.', 16562, 1, 3, 'American '),
 (3, '10F', 'Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.', 16562, 1, 3, 'American '),
 (50, '06D', 'Food contact surface not properly washed, rinsed and sanitized after each use and following any activity when contamination may have occurred.', 449, 15, 50, 'Jewish/Kosher'),
 (27, '04M', "Live roaches present in facility's food and/or non-food areas.", 254, 45, 27, 'Delicatessen'),
 (43, '10F', 'Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.', 642, 56, 43, 'Ice Cream, Gelato, Yogurt, Ices')]

In [357]:
----%%sql
DROP TABLE IF EXISTS FINAL_TABLE_CODE;
CREATE TEMP TABLE IF NOT EXISTS FINAL_TABLE_CODE AS
SELECT * FROM FINAL_TABLE
JOIN CODE
WHERE 
FINAL_TABLE.VIOLCODE=CODE.VIOLATIONCODE

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [360]:
%%sql
DROP TABLE IF EXISTS CONDITIONAL;
CREATE TEMP TABLE IF NOT EXISTS CONDITIONAL AS
SELECT A.CUISINECODE, A.VIOLCODE, A.COUNT1*1.0/B.COUNT2 AS FREQ
FROM (SELECT CUISINECODE, VIOLCODE, COUNT(*) AS COUNT1
     FROM FINAL_TABLE_CODE1
     GROUP BY CUISINECODE, VIOLCODE) AS A
JOIN(SELECT CUISINECODE, COUNT(*) AS COUNT2
    FROM FINAL_TABLE_CODE1
    GROUP BY CUISINECODE) AS B
WHERE A.CUISINECODE = B.CUISINECODE

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [361]:
%%sql
SELECT * FROM CONDITIONAL LIMIT 5

 * sqlite:///nyc_inspection.db
Done.

[(2, '02B', 0.14715025906735751),
 (2, '02G', 0.11709844559585492),
 (2, '04L', 0.18134715025906736),
 (2, '04N', 0.11813471502590674),
 (2, '08A', 0.23212435233160622)]

In [327]:
%%sql
SELECT * FROM VIOLATIONS LIMIT 5

 * sqlite:///nyc_inspection.db
Done.

[(0, '1901-01-01 00:00:00', '2003-03-23 00:00:00', 'Y', '01A', 'Current valid <a    onmouseover="ShowContent(\'P2\',\'01A\'); return true;"     href="javascript:ShowContent(\'P2\',\'01A\')">permit</A> , registration or other authorization to operate establishment not available.'),
 (1, '2003-03-24 00:00:00', '2005-02-17 00:00:00', 'Y', '01A', 'Current valid <a    onmouseover="ShowContent(\'P2\',\'01A\'); return true;"     href="javascript:ShowContent(\'P2\',\'01A\')">permit</A> , registration or other authorization to operate establishment not available.'),
 (2, '2005-02-18 00:00:00', '2007-06-30 00:00:00', 'Y', '01A', 'Current valid <a    onmouseover="ShowContent(\'P2\',\'01A\'); return true;"     href="javascript:ShowContent(\'P2\',\'01A\')">permit</A> , registration or other authorization to operate establishment not available.'),
 (3, '2007-07-01 00:00:00', '2008-06-30 00:00:00', 'Y', '01A', 'Current valid permit, registration or other authorization to operate establishment not available.  Violations points are not assessed for Smoke Free Air Act, trans fat, calorie posting or permit and poster violations.'),
 (4, '2008-07-01 00:00:00', '2009-08-01 00:00:00', 'Y', '01A', 'Current valid permit, registration or other authorization to operate establishment not available.  Violations points are not assessed for Smoke Free Air Act, trans fat, calorie posting or permit and poster violations.')]

In [336]:
%%sql
SELECT SUM(COUNT) FROM
(SELECT VIOLCODE, COUNT(VIOLCODE) AS COUNT
FROM FINAL_TABLE_CODE1
GROUP BY VIOLCODE)

 * sqlite:///nyc_inspection.db
Done.

[(457413,)]

In [359]:
%%sql
DROP TABLE IF EXISTS UNCONDITION;
CREATE TEMP TABLE IF NOT EXISTS UNCONDITION AS
SELECT VIOLCODE, COUNT(VIOLCODE)*1.0/457413 AS FREQ_UN
FROM FINAL_TABLE_CODE1
GROUP BY VIOLCODE

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [338]:
%%sql
SELECT * FROM UNCONDITION LIMIT 10

 * sqlite:///nyc_inspection.db
Done.

[('02A', 0.00028420705139556594),
 ('02B', 0.05051452407343036),
 ('02C', 0.00024048288964240193),
 ('02G', 0.09728625990078987),
 ('02H', 0.004805285376672723),
 ('03C', 0.0003126277565351225),
 ('04A', 0.0172907197652887),
 ('04C', 0.007503066156842941),
 ('04D', 0.00026453117860664215),
 ('04H', 0.03128245152630118)]

In [322]:
%%sql
SELECT * FROM CONDITIONAL LIMIT 10

 * sqlite:///nyc_inspection.db
Done.

[(0, '02B', 0.007874015748031496),
 (0, '02G', 0.023622047244094488),
 (0, '04A', 0.12598425196850394),
 (0, '04C', 0.007874015748031496),
 (0, '04H', 0.023622047244094488),
 (0, '04J', 0.023622047244094488),
 (0, '04L', 0.06299212598425197),
 (0, '04M', 0.007874015748031496),
 (0, '04N', 0.015748031496062992),
 (0, '05D', 0.047244094488188976)]

In [372]:
%%sql
WITH Q AS (SELECT FREQ/FREQ_UN AS RATIO,CUISINECODE, C.VIOLCODE FROM CONDITIONAL AS C
JOIN UNCONDITION AS UC
WHERE C.VIOLCODE = UC.VIOLCODE ORDER BY RATIO DESC LIMIT 20)
SELECT F.CODEDESC, F.VIOLATIONDESC, Q.RATIO, F.COUNT_VIO 
FROM Q
JOIN FINAL_TABLE_COM AS F
WHERE Q.CUISINECODE=F.CUISINECODE
AND Q.VIOLCODE = F.VIOLCODE

 * sqlite:///nyc_inspection.db
Done.

In [331]:
%%sql
SELECT COUNT(VIOLCODE) FROM FINAL_TABLE_CODE1
GROUP BY VIOLCODE LIMIT 10

 * sqlite:///nyc_inspection.db
Done.

[(130,),
 (23106,),
 (110,),
 (44500,),
 (2198,),
 (143,),
 (7909,),
 (3432,),
 (121,),
 (14309,)]

In [335]:
%%sql
SELECT COUNT(VIOLCODE) AS COUNT, VIOLCODE, CUISINECODE FROM FINAL_TABLE_CODE1 AS A
GROUP BY VIOLCODE, CUISINECODE 
JOIN (SELECT COUNT(VIOLCODE) AS TOTAL FROM FINAL_TABLE_CODE1
GROUP BY VIOLCODE) AS B
WHERE A.VIOLCODE = B.VIOLCODE LIMIT 10

 * sqlite:///nyc_inspection.db
(sqlite3.OperationalError) near "JOIN": syntax error
[SQL: SELECT COUNT(VIOLCODE) AS COUNT, VIOLCODE, CUISINECODE FROM FINAL_TABLE_CODE1 AS A
GROUP BY VIOLCODE, CUISINECODE
JOIN (SELECT COUNT(VIOLCODE) AS TOTAL FROM FINAL_TABLE_CODE1
GROUP BY VIOLCODE) AS B
WHERE A.VIOLCODE = B.VIOLCODE LIMIT 10]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [376]:
%%sql
WITH FRE AS (SELECT A.CUISINECODE, A.VIOLCODE, A.COUNT1*1.0/B.COUNT2 AS FREQ
FROM (SELECT CUISINECODE, VIOLCODE, COUNT(*) AS COUNT1
     FROM FINAL_TABLE
     GROUP BY CUISINECODE, VIOLCODE) AS A
JOIN(SELECT CUISINECODE, COUNT(*) AS COUNT2
    FROM FINAL_TABLE
    GROUP BY CUISINECODE) AS B
WHERE A.CUISINECODE = B.CUISINECODE)
SELECT CUISINECODE, VIOLCODE, FREQ, VIOLATIONDESC FROM FRE
JOIN CODE
WHERE CODE.VIOLATIONCODE=FRE.VIOLCODE
LIMIT 10

 * sqlite:///nyc_inspection.db
Done.

[(0, '02B', 0.007518796992481203, 'Hot food item not held at or above 140 F.'),
 (0, '02G', 0.022556390977443608, 'Cold food item held above 41 F (smoked fish and reduced oxygen packaged foods above 38 F) except during necessary preparation.'),
 (0, '04A', 0.12030075187969924, 'Food Protection Certificate not held by supervisor of food operations.'),
 (0, '04C', 0.007518796992481203, 'Food worker does not use proper utensil to eliminate bare hand contact with food that will not receive adequate additional heat treatment.'),
 (0, '04H', 0.022556390977443608, 'Raw, cooked or prepared food is adulterated, contaminated, cross-contaminated, or not discarded in accordance with HACCP plan.'),
 (0, '04J', 0.022556390977443608, 'Appropriately scaled metal stem-type thermometer or thermocouple not provided or used to evaluate temperatures of potentially hazardous foods during cooking, cooling, reheating and holding.'),
 (0, '04L', 0.06015037593984962, "Evidence of mice or live mice present in facility's food and/or non-food areas."),
 (0, '04M', 0.007518796992481203, "Live roaches present in facility's food and/or non-food areas."),
 (0, '04N', 0.015037593984962405, 'Filth flies or food/refuse/sewage-associated (FRSA) flies present in facilitys food and/or non-food areas. Filth flies include house flies, little house flies, blow flies, bottle flies and flesh flies. Food/refuse/sewage-associated flies include fruit flies, drain flies and Phorid flies.'),
 (0, '05D', 0.045112781954887216, 'Hand washing facility not provided in or near food preparation area and toilet room. Hot and cold running water at adequate pressure to enable cleanliness of employees not provided at facility. Soap and an acceptable hand-drying device not provided.')]

In [374]:
%%sql
SELECT * FROM CODE

 * sqlite:///nyc_inspection.db
Done.

[('02A', 'Food not cooked to required minimum temperature.'),
 ('02B', 'Hot food item not held at or above 140 F.'),
 ('02C', 'Hot food item that has been cooked and refrigerated is being held for service without first being reheated to 1 65 F or above within 2 hours.'),
 ('02D', 'Precooked potentially hazardous food from commercial food processing establishment that is supposed to be heated, but is not heated to 140 F within 2 hours.'),
 ('02E', 'Whole frozen poultry or poultry breasts, other than a single portion, is being cooked frozen or partially thawed.'),
 ('02F', 'Meat, fish or molluscan shellfish served raw or undercooked without prior notification to customer.'),
 ('02G', 'Cold food item held above 41 F (smoked fish and reduced oxygen packaged foods above 38 F) except during necessary preparation.'),
 ('02H', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140 F to 70 F or less within 2 hours, and from 70 F to 41 F or less within 4 additional hours.'),
 ('02I', 'Food prepared from ingredients at ambient temperature not cooled to 41 F or below within 4 hours.'),
 ('02J', 'Reduced oxygen packaged (ROP) foods not cooled by an approved method whereby the internal food temperature is reduced to 38 F within two hours of cooking and if necessary further cooled to a temperature of 34 F within six hours of reaching 38 F.'),
 ('03A', 'Food from unapproved or unknown source or home canned. Reduced oxygen packaged (ROP) fish not frozen before processing; or ROP foods prepared on premises transported to another site.'),
 ('03B', 'Shellfish not from approved source, improperly tagged/labeled; tags not retained for 90 days.'),
 ('03C', 'Eggs found dirty/cracked; liquid, frozen or powdered eggs not pasteurized.'),
 ('03D', 'Canned food product observed swollen, leaking or rusted, and not segregated from other consumable food items .'),
 ('03E', 'Potable water supply inadequate. Water or ice not potable or from unapproved source.  Cross connection in potable water supply system observed.'),
 ('03F', 'Unpasteurized milk or milk product present.'),
 ('03G', 'Raw food not properly washed prior to serving.'),
 ('04A', 'Food Protection Certificate not held by supervisor of food operations.'),
 ('04B', 'Food worker prepares food or handles utensil when ill with a disease transmissible by food, or have exposed infected cut or burn on hand.'),
 ('04C', 'Food worker does not use proper utensil to eliminate bare hand contact with food that will not receive adequate additional heat treatment.'),
 ('04D', 'Food worker does not wash hands thoroughly after using the toilet, coughing, sneezing, smoking, eating, preparing raw foods or otherwise contaminating hands.'),
 ('04E', 'Toxic chemical improperly labeled, stored or used such that food contamination may occur.'),
 ('04F', 'Food, food preparation area, food storage area, area used by employees or patrons, contaminated by sewage or liquid waste.'),
 ('04G', 'Unprotected potentially hazardous food re-served.'),
 ('04H', 'Raw, cooked or prepared food is adulterated, contaminated, cross-contaminated, or not discarded in accordance with HACCP plan.'),
 ('04I', 'Unprotected food re-served.'),
 ('04J', 'Appropriately scaled metal stem-type thermometer or thermocouple not provided or used to evaluate temperatures of potentially hazardous foods during cooking, cooling, reheating and holding.'),
 ('04K', "Evidence of rats or live rats present in facility's food and/or non-food areas."),
 ('04L', "Evidence of mice or live mice present in facility's food and/or non-food areas."),
 ('04M', "Live roaches present in facility's food and/or non-food areas."),
 ('04N', 'Filth flies or food/refuse/sewage-associated (FRSA) flies present in facilitys food and/or non-food areas. Filth flies include house flies, little house flies, blow flies, bottle flies and flesh flies. Food/refuse/sewage-associated flies include fruit flies, drain flies and Phorid flies.'),
 ('04O', "Live animals other than fish in tank or service animal present in facility's food and/or non-food areas."),
 ('05A', 'Sewage disposal system improper or unapproved.'),
 ('05B', 'Harmful, noxious gas or vapor detected. CO ~1 3 ppm.'),
 ('05C', 'Food contact surface improperly constructed or located. Unacceptable material used.'),
 ('05D', 'Hand washing facility not provided in or near food preparation area and toilet room. Hot and cold running water at adequate pressure to enable cleanliness of employees not provided at facility. Soap and an acceptable hand-drying device not provided.'),
 ('05E', 'Toilet facility not provided for employees or for patrons when required.'),
 ('05F', 'Insufficient or no refrigerated or hot holding equipment to keep potentially hazardous foods at required temperatures.'),
 ('05G', 'Properly enclosed service/maintenance area not provided.'),
 ('05H', 'No facilities available to wash, rinse and sanitize utensils and/or equipment.'),
 ('05I', 'Refrigeration used to implement HACCP plan not equipped with an electronic system that continuously monitors time and temperature.'),
 ('06A', 'Personal cleanliness inadequate. Outer garment soiled with possible contaminant.  Effective hair restraint not worn in an area where food is prepared.'),
 ('06B', 'Tobacco use, eating, or drinking from open container in food preparation, food storage or dishwashing area observed.'),
 ('06C', 'Food not protected from potential source of contamination during storage, preparation, transportation, display or service.'),
 ('06D', 'Food contact surface not properly washed, rinsed and sanitized after each use and following any activity when contamination may have occurred.'),
 ('06E', 'Sanitized equipment or utensil, including in-use food dispensing utensil, improperly used or stored.'),
 ('06F', 'Wiping cloths soiled or not stored in sanitizing solution.'),
 ('06G', 'HACCP plan not approved or approved HACCP plan not maintained on premises.'),
 ('06H', 'Records and logs not maintained to demonstrate that HACCP plan has been properly implemented.'),
 ('06I', 'Food not labeled in accordance with HACCP plan.'),
 ('07A', 'Duties of an officer of the Department interfered with or obstructed.'),
 ('08A', 'Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premises and/or allowing vermin to exist.'),
 ('08B', 'Covered garbage receptacle not provided or inadequate, except that garbage receptacle may be uncovered during active use. Garbage storage area not properly constructed or maintained; grinder or compactor dirty.'),
 ('08C', 'Pesticide use not in accordance with label or applicable laws. Prohibited chemical used/stored. Open bait station used.'),
 ('09A', 'Canned food product observed dented and not segregated from other consumable food items.'),
 ('09B', 'Thawing procedures improper.'),
 ('09C', 'Food contact surface not properly maintained.'),
 ('10A', 'Toilet facility not maintained and provided with toilet paper, waste receptacle and self-closing door.'),
 ('10B', 'Plumbing not properly installed or maintained; anti-siphonage or backflow prevention device not provided where required; equipment or floor not properly drained; sewage disposal system in disrepair or not functioning properly.'),
 ('10C', 'Lighting inadequate; permanent lighting not provided in food preparation areas, ware washing areas, and storage rooms.'),
 ('10D', 'Mechanical or natural ventilation system not provided, improperly installed, in disrepair and/or fails to prevent excessive build-up of grease, heat, steam condensation vapors, odors, smoke, and fumes.'),
 ('10E', 'Accurate thermometer not provided in refrigerated or hot holding equipment.'),
 ('10F', 'Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.'),
 ('10G', 'Food service operation occurring in room used as living or sleeping quarters.'),
 ('10H', 'Proper sanitization not provided for utensil ware washing operation.'),
 ('10I', 'Single service item reused, improperly stored, dispensed; not used when required.'),
 ('10J', '""Wash hands sign not posted at hand wash facility.'),
 ('15A', 'Tobacco vending machine present where prohibited.'),
 ('15B', 'Tobacco vending machine placed less than 25 feet from entrance to premises.'),
 ('15C', 'Tobacco vending machine not visible to the operator, employee or agent.'),
 ('15D', 'Durable sign with license number, expiration date, and address and phone number not posted.'),
 ('15E', 'Out-of package sale of tobacco products observed.'),
 ('15F', 'Employee under the age of 18 selling tobacco products without direct supervision of an adult retail dealer or dealer.'),
 ('15G', 'Sale to minor observed.'),
 ('15H', 'Sign prohibiting sale of tobacco products to minors not conspicuously posted.'),
 ('15I', '""No Smoking and/or \'Smoking Permitted sign not conspicuously posted. Health warning not present on \'Smoking Permitted'),
 ('15J', 'Ashtray present in smoke-free area.'),
 ('15K', 'Operator failed to make good faith effort to inform smokers of the Smoke-free Act prohibition of smoking.'),
 ('15L', 'Smoke free workplace smoking policy inadequate, not posted, not provided to employees.'),
 ('15M', 'Use of tobacco product on school premises (at or below the 12th grade level) observed.'),
 ('15N', 'Smoking permitted and/or allowed in smoking prohibited area under the operators control.'),
 ('15O', 'Sale of herbal cigarettes to minors observed.'),
 ('15P', 'No tobacco health warning and smoking cessation sign(s) are posted.'),
 ('15Q', 'Tobacco health warning and smoking cessation sign(s) are obstructed and/or not prominently displayed.'),
 ('15R', 'No large tobacco health warning and smoking cessation sign is posted where tobacco products are displayed; small sign(s) are not posted at each register or place of payment.'),
 ('15S', 'Flavored tobacco products sold or offered for sale.'),
 ('15T', 'Original label for tobacco products sold or offered for sale.'),
 ('16A', 'A food containing artificial trans fat, with 0.5 grams or more of trans fat per serving, is being stored, distributed, held for service, used in preparation of a menu item, or served.'),
 ('16B', 'The original nutritional fact labels and/or ingredient label for a cooking oil, shortening or margarine or food item sold in bulk, or acceptable manufacturers documentation not maintained on site.'),
 ('16C', 'Caloric content not posted on menus, menu boards or food tags, in a food service establishment that is 1 of 15 or more outlets operating the same typ ... (62 characters truncated) ...  as a franchise or doing business under the same name, for each menu item that is served in portions, the size and content of which are standardized.'),
 ('16D', 'Posted caloric content on the menu(s), menu board(s), food tag(s) or stanchions adjacent to menu boards for drive-through windows deficient, in that the size and/or font for posted calories is not as prominent as the name of the menu item or its price.'),
 ('16E', 'Caloric content range (minimum to maximum) not posted on menus and or menu boards for each flavor, variety and size of each menu item that is offered for sale in different flavors, varieties and sizes.'),
 ('16F', 'Specific caloric content or range thereof not posted on menus, menu boards or food tags for each menu item offered as a combination meal with multiple options that are listed as single items.'),
 ('18A', 'Current valid permit, registration or other authorization to operate establishment not available.'),
 ('18B', 'Document issued by the Board of Health, Commissioner or Department unlawfully reproduced or altered.'),
 ('18C', 'Notice of the Department of Board of Health mutilated, obstructed, or removed.'),
 ('18D', 'Failure to comply with an Order of the Board of Health, Commissioner, or Department.'),
 ('18E', 'Failure to report occurrences of suspected food borne illness to the Department.'),
 ('18F', 'Permit not conspicuously displayed.'),
 ('18G', 'Manufacture of frozen dessert not authorized on Food Service Establishment permit.'),
 ('18H', 'Failure of event sponsor to exclude vendor without a current valid permit or registration.'),
 ('20A', 'Food allergy information poster not conspicuously posted where food is being prepared or processed by food workers.'),
 ('20B', 'Food allergy information poster not posted in language understood by all food workers.'),
 ('20C', 'Food allergy poster does not contain text provided or approved by Department.'),
 ('20D', 'Choking first aid poster not posted. Alcohol and pregnancy warning sign not posted. Resuscitation equipment: exhaled air resuscitation masks (adult & pediatric), latex gloves, sign not posted. Inspection report sign not posted.'),
 ('20E', 'Letter Grade or Grade Pending card not conspicuously posted and visible to passersby.'),
 ('20F', 'Current letter grade card not posted.'),
 ('22A', 'Nuisance created or allowed to exist. Facility not free from unsafe, hazardous, offensive or annoying conditions.'),
 ('22B', 'Toilet facility used by women does not have at least one covered garbage receptacle.'),
 ('22C', 'Bulb not shielded or shatterproof, in areas where there is extreme heat, temperature changes, or where accidental contact may occur.'),
 ('22E', 'ROP processing equipment not approved by DOHMH.'),
 ('99B', 'Other general violation.')]

In [377]:
%%sql
DROP TABLE IF EXISTS COUNT_V;
CREATE TEMP TABLE IF NOT EXISTS COUNT_V AS
SELECT CUISINECODE,VIOLCODE,COUNT(VIOLCODE) AS COUNT_VIO FROM FINAL_TABLE 
GROUP BY CUISINECODE, VIOLCODE 
HAVING COUNT(VIOLCODE)>100

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [379]:
%%sql
SELECT * FROM COUNT_V LIMIT 10

 * sqlite:///nyc_inspection.db
Done.

[(2, '02B', 142),
 (2, '02G', 113),
 (2, '04L', 175),
 (2, '04N', 114),
 (2, '08A', 224),
 (2, '10F', 197),
 (3, '02A', 130),
 (3, '02B', 3836),
 (3, '02C', 110),
 (3, '02G', 10890)]

In [380]:
%%sql
DROP TABLE IF EXISTS HALF;
CREATE TEMP TABLE IF NOT EXISTS HALF AS
WITH FRE AS (SELECT A.CUISINECODE, A.VIOLCODE, A.COUNT1*1.0/B.COUNT2 AS FREQ
FROM (SELECT CUISINECODE, VIOLCODE, COUNT(*) AS COUNT1
     FROM FINAL_TABLE
     GROUP BY CUISINECODE, VIOLCODE) AS A
JOIN(SELECT CUISINECODE, COUNT(*) AS COUNT2
    FROM FINAL_TABLE
    GROUP BY CUISINECODE) AS B
WHERE A.CUISINECODE = B.CUISINECODE)
SELECT CUISINECODE, VIOLCODE, FREQ, VIOLATIONDESC FROM FRE
JOIN CODE
WHERE CODE.VIOLATIONCODE=FRE.VIOLCODE

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [381]:
%%sql
SELECT * FROM HALF LIMIT 5

 * sqlite:///nyc_inspection.db
Done.

[(0, '02B', 0.007518796992481203, 'Hot food item not held at or above 140 F.'),
 (0, '02G', 0.022556390977443608, 'Cold food item held above 41 F (smoked fish and reduced oxygen packaged foods above 38 F) except during necessary preparation.'),
 (0, '04A', 0.12030075187969924, 'Food Protection Certificate not held by supervisor of food operations.'),
 (0, '04C', 0.007518796992481203, 'Food worker does not use proper utensil to eliminate bare hand contact with food that will not receive adequate additional heat treatment.'),
 (0, '04H', 0.022556390977443608, 'Raw, cooked or prepared food is adulterated, contaminated, cross-contaminated, or not discarded in accordance with HACCP plan.')]

In [393]:
%%sql
DROP TABLE IF EXISTS HALF1;
CREATE TEMP TABLE IF NOT EXISTS HALF1 AS
SELECT C.CUISINECODE, C.VIOLCODE, FREQ, VIOLATIONDESC,COUNT_VIO
FROM HALF
JOIN COUNT_V AS C
WHERE C.CUISINECODE=HALF.CUISINECODE AND C.VIOLCODE=HALF.VIOLCODE

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [394]:
%%sql
SELECT * FROM HALF1 LIMIT 5

 * sqlite:///nyc_inspection.db
Done.

[(2, '02B', 0.07642626480086114, 'Hot food item not held at or above 140 F.', 142),
 (2, '02G', 0.06081808396124865, 'Cold food item held above 41 F (smoked fish and reduced oxygen packaged foods above 38 F) except during necessary preparation.', 113),
 (2, '04L', 0.09418729817007535, "Evidence of mice or live mice present in facility's food and/or non-food areas.", 175),
 (2, '04N', 0.061356297093649086, 'Filth flies or food/refuse/sewage-associated (FRSA) flies present in facilitys food and/or non-food areas. Filth flies include house flies, little house flies, blow flies, bottle flies and flesh flies. Food/refuse/sewage-associated flies include fruit flies, drain flies and Phorid flies.', 114),
 (2, '08A', 0.12055974165769645, 'Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premises and/or allowing vermin to exist.', 224)]

In [424]:
%%sql
DROP TABLE IF EXISTS HALF2;
CREATE TEMP TABLE IF NOT EXISTS HALF2 AS
SELECT H.CUISINECODE, H.VIOLCODE, (FREQ/U_PROB) AS RATIO, VIOLATIONDESC, COUNT_VIO
FROM HALF1 AS H
JOIN
(SELECT (COUNT(VIOLCODE)*1.0/517107) AS U_PROB, VIOLCODE FROM FINAL_TABLE
GROUP BY VIOLCODE) AS U
WHERE H.VIOLCODE=U.VIOLCODE
ORDER BY RATIO DESC
LIMIT 20

 * sqlite:///nyc_inspection.db
Done.
Done.

[]

In [425]:
%%sql
SELECT * FROM HALF2

 * sqlite:///nyc_inspection.db
Done.

[(49, '04C', 3.2057869201365627, 'Food worker does not use proper utensil to eliminate bare hand contact with food that will not receive adequate additional heat treatment.', 541),
 (14, '20D', 3.0873828334226032, 'Choking first aid poster not posted. Alcohol and pregnancy warning sign not posted. Resuscitation equipment: exhaled air resuscitation masks (adult & pediatric), latex gloves, sign not posted. Inspection report sign not posted.', 173),
 (51, '04A', 3.0043621452008105, 'Food Protection Certificate not held by supervisor of food operations.', 145),
 (29, '10E', 2.984503416751316, 'Accurate thermometer not provided in refrigerated or hot holding equipment.', 130),
 (43, '04A', 2.887446395068346, 'Food Protection Certificate not held by supervisor of food operations.', 193),
 (82, '09B', 2.601041687069761, 'Thawing procedures improper.', 151),
 (47, '04H', 2.351270453400985, 'Raw, cooked or prepared food is adulterated, contaminated, cross-contaminated, or not discarded in accordance with HACCP plan.', 321),
 (55, '02H', 2.3046843876828262, 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140 F to 70 F or less within 2 hours, and from 70 F to 41 F or less within 4 additional hours.', 260),
 (44, '02H', 2.2269554116615655, 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140 F to 70 F or less within 2 hours, and from 70 F to 41 F or less within 4 additional hours.', 112),
 (20, '09B', 2.17906697054476, 'Thawing procedures improper.', 1121),
 (17, '02H', 2.075236387184051, 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140 F to 70 F or less within 2 hours, and from 70 F to 41 F or less within 4 additional hours.', 206),
 (20, '04D', 2.0694426768192593, 'Food worker does not wash hands thoroughly after using the toilet, coughing, sneezing, smoking, eating, preparing raw foods or otherwise contaminating hands.', 121),
 (39, '10E', 2.0682798428530917, 'Accurate thermometer not provided in refrigerated or hot holding equipment.', 109),
 (75, '02G', 2.037992466691674, 'Cold food item held above 41 F (smoked fish and reduced oxygen packaged foods above 38 F) except during necessary preparation.', 106),
 (56, '04A', 2.010101653438204, 'Food Protection Certificate not held by supervisor of food operations.', 117),
 (3, '15I', 1.997075533105278, '""No Smoking and/or \'Smoking Permitted sign not conspicuously posted. Health warning not present on \'Smoking Permitted', 151),
 (29, '22C', 1.9858479067473775, 'Bulb not shielded or shatterproof, in areas where there is extreme heat, temperature changes, or where accidental contact may occur.', 107),
 (77, '02H', 1.8753688380484657, 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140 F to 70 F or less within 2 hours, and from 70 F to 41 F or less within 4 additional hours.', 151),
 (3, '15J', 1.874265779413847, 'Ashtray present in smoke-free area.', 128),
 (39, '04N', 1.8717432705206853, 'Filth flies or food/refuse/sewage-associated (FRSA) flies present in facilitys food and/or non-food areas. Filth flies include house flies, little house flies, blow flies, bottle flies and flesh flies. Food/refuse/sewage-associated flies include fruit flies, drain flies and Phorid flies.', 600)]

In [426]:
%%sql
SELECT C.CODEDESC,H.VIOLATIONDESC, RATIO, COUNT_VIO FROM HALF2 AS H
JOIN CUISINE AS C
WHERE C.CUISINECODE = H.CUISINECODE

 * sqlite:///nyc_inspection.db
Done.

[('Japanese', 'Food worker does not use proper utensil to eliminate bare hand contact with food that will not receive adequate additional heat treatment.', 3.2057869201365627, 541),
 ('Caf/Coffee/Tea', 'Choking first aid poster not posted. Alcohol and pregnancy warning sign not posted. Resuscitation equipment: exhaled air resuscitation masks (adult & pediatric), latex gloves, sign not posted. Inspection report sign not posted.', 3.0873828334226032, 173),
 ('Juice, Smoothies, Fruit Salads', 'Food Protection Certificate not held by supervisor of food operations.', 3.0043621452008105, 145),
 ('Donuts', 'Accurate thermometer not provided in refrigerated or hot holding equipment.', 2.984503416751316, 130),
 ('Ice Cream, Gelato, Yogurt, Ices', 'Food Protection Certificate not held by supervisor of food operations.', 2.887446395068346, 193),
 ('Thai', 'Thawing procedures improper.', 2.601041687069761, 151),
 ('Irish', 'Raw, cooked or prepared food is adulterated, contaminated, cross-contaminated, or not discarded in accordance with HACCP plan.', 2.351270453400985, 321),
 ('Mexican', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140 F to 70 F or less within 2 hours, and from 70 F to 41 F or less within 4 additional hours.', 2.3046843876828262, 260),
 ('Indian', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140 F to 70 F or less within 2 hours, and from 70 F to 41 F or less within 4 additional hours.', 2.2269554116615655, 112),
 ('Chinese', 'Thawing procedures improper.', 2.17906697054476, 1121),
 ('Caribbean', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140 F to 70 F or less within 2 hours, and from 70 F to 41 F or less within 4 additional hours.', 2.075236387184051, 206),
 ('Chinese', 'Food worker does not wash hands thoroughly after using the toilet, coughing, sneezing, smoking, eating, preparing raw foods or otherwise contaminating hands.', 2.0694426768192593, 121),
 ('Hamburgers', 'Accurate thermometer not provided in refrigerated or hot holding equipment.', 2.0682798428530917, 109),
 ('Soups & Sandwiches', 'Cold food item held above 41 F (smoked fish and reduced oxygen packaged foods above 38 F) except during necessary preparation.', 2.037992466691674, 106),
 ('Middle Eastern', 'Food Protection Certificate not held by supervisor of food operations.', 2.010101653438204, 117),
 ('American ', '""No Smoking and/or \'Smoking Permitted sign not conspicuously posted. Health warning not present on \'Smoking Permitted', 1.997075533105278, 151),
 ('Donuts', 'Bulb not shielded or shatterproof, in areas where there is extreme heat, temperature changes, or where accidental contact may occur.', 1.9858479067473775, 107),
 ('Spanish', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140 F to 70 F or less within 2 hours, and from 70 F to 41 F or less within 4 additional hours.', 1.8753688380484657, 151),
 ('American ', 'Ashtray present in smoke-free area.', 1.874265779413847, 128),
 ('Hamburgers', 'Filth flies or food/refuse/sewage-associated (FRSA) flies present in facilitys food and/or non-food areas. Filth flies include house flies, little house flies, blow flies, bottle flies and flesh flies. Food/refuse/sewage-associated flies include fruit flies, drain flies and Phorid flies.', 1.8717432705206853, 600)]

In [427]:
result=_

In [428]:
len(list(result))

20

In [429]:
violation_by_cuisine=list(result)
violation_by_cuisine=[((str(x[0]),str(x[1])),x[2],x[3]) for x in list(result)]
violation_by_cuisine[0][0]

('Japanese',
 'Food worker does not use proper utensil to eliminate bare hand contact with food that will not receive adequate additional heat treatment.')